#bg {
    height: 100vh;
    background: url(http://i.imgur.com/PFj6kGc.jpg);
    background-size: cover;
    background-position: center;
}

#map {
    height: 400px;
    width: 100%;
}

#intro {
    text-align: center;
    padding-top: 25%;
}

#content {
    margin: 30px 0;
}

.left {
    text-align: right;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 60%;
}

h2 {
    font-size: 60px;
    font-family: Raleway;
}

h3 {
    font-size: 30px;
    font-family: Raleway;
}

label {
    font-family: Raleway;
    font-weight: 400;
    padding-bottom: 10px;
    padding-right: 10px;
}

p {
    font-family: Raleway;
}